.address {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: max-content;
    display: block;

    // margin-left: 84px;
    
    @media screen and (min-width: 768px) {
        margin-left: 84px; 
        display: inline-block;

    }
    @media screen and (min-width: 1200px) {
        margin-left: 305px;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 767px) {
        display: inline-block;
        height: 100px;
        position: absolute;
        content: "";
        bottom: 70px;
        left: 40px;
    }

    &__list {
        list-style: none;
        @media screen and (max-width: 767px) {
            display: inline-block;
            position: absolute;
            content: "";
            bottom: 70px;

        }

        // &:first-child {
        //     position: absolute;
        //     content: "";
        //     top: 0;
        //     left: 0;
        // }
    }

    &__item {
        color: $main-color;
    }

    &__item:first-child {
        @media screen and (max-width: 767px) {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
        
    
            color: $main-color;
        }

    }

    &__item:last-child {
        @media screen and (max-width: 767px) {
            font-weight: 500;
            font-size: 34px;
            line-height: 40px;
            
            letter-spacing: 0.02em;
            color: $active-color;
        }
    }

    &__item {
        display: flex;

        &:first-child {
            @media screen and (min-width: 768px) {
                margin-bottom: 10px;
            }
            @media screen and (min-width: 1200px) {
                margin-bottom: 0px;
            }
        }
    }

    &__list {
        position: relative;
        @media screen and (min-width:1200px) {
            display: flex;
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            // margin-bottom: 134px;
            // margin-left: 40px;
            height: 100px;
            margin-bottom: 64px;
        }
    }
    
    &__link:hover,
    &__link:focus {
        color: $active-color;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        letter-spacing: 0.02em;

        color: $main-color;

        @media screen and (min-width: 1200px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        }

        @media screen and (max-width: 767px) {
            // font-weight: 500;
            // font-size: 34px;
            // line-height: 40px;

            // letter-spacing: 0.02em;
            // color: $active-color;

            // &--main {
            //     background-color: red;
            //     position: absolute;
            //     content: "";
            //     bottom: 0;
            //     left: 0;
            // }
            // &--second {
            //     background-color: red;
            //     position: absolute;
            //     content: "";
            //     top: 0;
            //     left: 0;
            // }
        }
    }


    &__icon {
        fill: currentColor;
        &--envelope {
            width: 14px;
            height: 10px;
            margin-right: 8px;

            @media screen and (min-width: 1200px) {
                width: 16px;
                height: 12px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &--smartphone {
            width: 10px;
            height: 14px;
            margin-right: 8px;

            @media screen and (min-width: 1200px) {
                width: 10px;
                height: 16px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }        
    }

    @media screen and (max-width: 767px) {
        // display: none;
    }
}

.address__item + .address__item {
    // margin-top: 8px;

    @media screen and (max-width: 767px) {
        // margin-top: 32px;
    }

    @media screen and (min-width:1200px) {
        margin-top: 0px;
        margin-left: 30px;
    }
}

// .address__item:last-child {
//     @media screen and (max-width: 767px) {
//         margin: 0px;
//         position: absolute;
//         content: "";
//         top: 0;
//         left: 0;
//         @media screen and (max-width: 392px) {
//             top: -32px;
//         }
//     }
// }
// .address__item:first-child {
//     @media screen and (max-width: 767px) {
//         position: absolute;
//         content: "";
//         bottom: 0;
//         left: 0;
//     }
// }

.address__link--mobile {

    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        /* identical to box height */

        letter-spacing: 0.02em;

        color: $active-color;
        
        @media screen and (max-width: 340px) {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

.address__link--mail {
    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: $main-color;

    }
}

.address__link--mail {
    @media screen and (max-width: 767px) {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
    }
}

// .address__link--mobile {
//     @media screen and (max-width: 767px) {
//         position: absolute;
//         content: "";
//         top: 0;
//         left: 0;
//     }
// }