.address {
    margin-left: auto;
    &__list {
        list-style: none;
    }

    &__item {
        color: $main-color;
    }

    &__item:first-child {
        @media screen and (max-width: 767px) {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
        
    
            color: $main-color;
        }

    }

    &__item:last-child {
        @media screen and (max-width: 767px) {
            font-weight: 500;
            font-size: 34px;
            line-height: 40px;
            
            letter-spacing: 0.02em;
            color: $active-color;
        }
    }

    // &__item {
    //     display: inline-flex;
    // }

    &__list {
        @media screen and (min-width:1200px) {
            display: flex;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 64px;
        }
    }
    
    &__link:hover,
    &__link:focus {
        color: $active-color;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: inherit;

        @media screen and (max-width: 767px) {
            // font-weight: 500;
            // font-size: 34px;
            // line-height: 40px;

            // letter-spacing: 0.02em;
            // color: $active-color;
        }
    }


    &__icon {
        fill: currentColor;
        &--envelope {
            width: 14px;
            height: 10px;
            margin-right: 8px;

            @media screen and (min-width: 1200px) {
                width: 16px;
                height: 12px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &--smartphone {
            width: 10px;
            height: 14px;
            margin-right: 8px;

            @media screen and (min-width: 1200px) {
                width: 10px;
                height: 16px;
            }

            @media screen and (max-width: 767px) {
                display: none;
            }
        }        
    }

    @media screen and (max-width: 767px) {
        // display: none;
    }
}

.address__item + .address__item {
    margin-top: 8px;

    @media screen and (max-width: 767px) {
        margin-top: 32px;
    }

    @media screen and (min-width:1200px) {
        margin-top: 0px;
        margin-left: 30px;
    }
}


