.address {
    margin-left: auto;
    &__list {
        list-style: none;
    }

    // &__item {
    //     display: inline-flex;
    // }

    &__list {
        @media screen and (min-width:1200px) {
            display: flex;
        }
    }
    

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: $main-color;

        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        letter-spacing: 0.02em;

    }
    
    &__icon {

        &--envelope {
            width: 14px;
            height: 10px;
            margin-right: 8px;
        }

        &--smartphone {
            width: 10px;
            height: 14px;
            margin-right: 8px;
        }        
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.address__item + .address__item {
    margin-top: 8px;

    @media screen and (min-width:1200px) {
        margin-top: 0px;
        margin-left: 30px;
    }
}

