.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }