.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;  
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width:1200px) {
            display: flex;
            justify-content: center;
            flex-wrap:nowrap;
        }
    }

    &__title {    
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        
        text-align: center;
        letter-spacing: 0.03em;
        
        color: $heavy-color;
        margin-bottom: 30px;
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: $social-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:768px) {
            width: 226px;
        }

        @media screen and (min-width:1200px) {
            width: 170px;
        }

    }

    &__link:hover,
    &__link:focus {
        color: $active-color;
        border-color: $active-color;
        
    }

    &__icon {
        fill: currentColor;
    }


}