.difference {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    // text-align: center;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__title {
        font-size: 0px;
        text-align: center;
    }

    &__list {
        list-style: none;
        
        @media screen and (min-width: 768px) {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        

    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
        background: $bg-light-color;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
            margin-bottom: 0px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            
        }
    }

    &__item:last-child {
        margin-bottom: 0px;
    }
    

    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;

        @media screen and (max-width: 479px) {
            text-align: center;
        }

        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $heavy-color;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-color;
    }
}

// .difference__list
// .difference__item
// .difference__contanier
// .difference__icon

// .difference__heading
// .difference__text
