.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__contanier {
        display: flex;
    }

    &__main {
        display: block;
        font-size: 26px;
        font-weight: 700;
        font-family: "raleway";
        text-decoration: none;
        letter-spacing: .03em;
        color: var(--action-text-color);
        margin-bottom: 20px;
    }

    &__second {
        color: var(--white-text-color);
        margin-bottom: 20px;
    }
    
}

// .footer__contanier {
//     display: flex;
// }
 

// .footer__main {
//     display: block;
//     font-size: 26px;
//     font-weight: 700;
//     font-family: "raleway";
//     text-decoration: none;
//     letter-spacing: .03em;
//     color: var(--action-text-color);
//     margin-bottom: 20px;
// }

// .footer__second {
//     color: var(--white-text-color);
//     margin-bottom: 20px;
// }

.footer__link {
    color: var(--footer-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--action-text-color);
    }
    
}


.physical__address {
    color: var(--white-text-color);
    text-decoration: none;
    font-style: normal;
}

.footer__item+.footer__item {
    margin-top: 10px;
}

// .footer__link:hover,
// .footer__link:focus {
//     color: var(--action-text-color);
// }
