.footer__center {
    margin-left: 70px;
    margin-top: 12px;
    display: inline-block;
}

.join__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.footer__list {
    margin-top: 20px;
}

.social__icon--white {
    fill: var(--white-text-color);
}

.social__item--bg {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
