.header__address {
    display: flex;
    margin-left: auto;
}
.address__item {
    display: inline-flex;
    align-items: center;
}

.header-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 32px 0px;
}

.address__item+.address__item {
    margin-left: 50px;
}


.header__icon {
    height: 12px;
    width: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.icon__smartphone {
    height: 16px;
    width: 10px;
}