.header {    
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    @media screen and (min-width:768px) {
        background-color: antiquewhite;
        height: 80px;
    }

    @media screen and (min-width:1200px) {
        background-color: aliceblue;
        height: 80px;
    }
}