.logo__main {
    font-size: 26px;
    font-weight: 700;
    font-family: 'raleway';
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--action-text-color);
    margin: 0;
}

.logo__second {
    color: var(--logo-text-color);
}
