.join {
    margin-bottom: 60px;

    
    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
        margin-top: 12px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $white-color;   
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        
    }
}