.logo {
    height: max-content;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    

    color: $active-color;
    
    &--black {
        color: $heavy-color;
        // margin-top: 16px;
        // margin-bottom: 16px;
    }

    &--white {
        color: $white-color;
    }
}

