.clients {
    padding: 94px 0px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: var(--heavy-text-color);
    }

    &__list {
        display: flex;
        margin-top: 50px;
    }

    &__item {
        border-radius: 4px;
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: currentColor;
    }
}

// .clients__title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 42px;
//     text-align: center;
//     letter-spacing: 0.03em;

//     color: var(--heavy-text-color);
// }

// .clients__list {
//     display: flex;
//     margin-top: 50px;
// }

// .client__item {
//     border-radius: 4px;
// }

// .clients__icon {
//     width: 106px;
//     height: 60px;
//     fill: currentColor;
// }

.clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    color: #AFB1B8;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--action-text-color);
        border: 1px solid var(--action-text-color);
        border-radius: 4px;
    }
}

// .clients__link:hover,
// .clients__link:focus {
//     color: var(--action-text-color);
//     border: 1px solid var(--action-text-color);
//     border-radius: 4px;
// }

.clients__item+.clients__item {
    margin-left: 30px;
}
