.social__list {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.social__item+.social__item {
    margin-left: 10px;
}

.social__item {
    display: flex;
    border-radius: 50%;
    box-shadow: none;

    &--bg {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
    }
}

// .social__item--bg {
//     background: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
// }

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--action-text-color);
        border-radius: 50%;
        color: var(--white-text-color);
    }
}

// .social__link:hover,
// .social__link:focus {
//     background-color: var(--action-text-color);
//     border-radius: 50%;
//     color: var(--white-text-color);
// }

.social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;

    &--white {
        fill: var(--white-text-color);
    }
}

// .social__icon--white {
//     fill: var(--white-text-color);
// }
