.menu__button {
    display: inline-flex;
    border: none;
    background-color: transparent; 
    margin-left: auto;
    z-index: 100;
    position: fixed;
    content: "";
    right: 15px;
    top: 10px;
    


    &:hover,
    &:focus {
        fill: $active-color;
        cursor: pointer;
    }

    // &--animate:hover,
    // &--animate:focus {
    //     fill: $active-color;
    // }

    @media screen and (min-width: 768px) {
        display: none;
    }

    // &__icon {

    // }

}

.icon__close {
    display: none;
}

.menu__button.is-open .icon__close {
    display: block;
}

.menu__button.is-open .icon__menu {
    display: none;
}

.menu__container {
    z-index: 99;
    position: fixed;
    content: "";
    display: none;
    background-color: grey;

    @media screen and (min-width: 768px) {
        display: flex;
        background-color: transparent;
        box-shadow: none;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    // text-align: center;
    width: 100%;
    height: 100%;
    background: $white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    top: 0;
    // left: 50%;
    right: 50%;
    transform: translateX(50%);

    @media screen and (max-width: 767px) {
        padding: 40px 48px;
    }

    &.is-open {
        display: inline-block;

        @media screen and (min-width: 768px) {
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    
    

    @media screen and (min-width: 768px) {
        // display: flex;
        // width: 768px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(-50%);
        transform: translateY(-50%); 
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.mobile {
    list-style: none;
    display: inline-flex;
    margin-bottom: 48px;
    flex-wrap: wrap;

        @media screen and (max-width: 479px) {
            justify-content: space-evenly;
            text-align: center;
    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        letter-spacing: 0.02em;

        color: $active-color;
        @media screen and (max-width: 479px) {
            width: 100%;
        }
    }


    &__item {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
        padding: 0px 10px;
    }
    &__item:first-child {
        border: none;
        padding-left: 0px;
    }
    &__item:last-child {
        padding-right: 0px;
    }
    
    @media screen and (min-width: 767px) {
        display: none;
    }
}