.nav {
    display: inline-flex;
    // margin-left: 237px;
    margin-left: auto;

    

    @media screen and (max-width: 767px) {
        margin-left: 0px;
        margin-bottom: 302px;
    }

    &__list {  
        list-style: none;
        display: inline-flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__item:hover {
        color: red;
    }
    
    &__link {
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        
        color: $heavy-color;
        padding-top: 32px;
        padding-bottom: 32px;

        @media screen and (max-width: 767px) {
            font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: 0.02em;

        }

        &--active {
            color: $active-color;
        }     

        &:hover,
        &:focus {
            color: $active-color;
        }

        &--active::before {
            @media screen and (min-width: 768px) {
            position: absolute;
            content: "";
            height: 4px;
            width: 100%;
            bottom: -1px;
            border-radius: 2px;
            background-color: $active-color;
            }
        
        }
    }

}

.nav__item {

    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.nav__item + .nav__item {
    margin-left: 50px;

    @media screen and (max-width: 767px) {
        margin-left: 0px;
    }

}


// .nav__link--active::before {
//     position: absolute;
//     content: "";
//     height: 4px;
//     width: 100%;
//     bottom: -1px;
//     border-radius: 2px;
//     background-color: $active-color;
// }
