.social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 4px 4px;

    &__list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    // margin-bottom: 24px;
    }

    &__list--footer {
        margin-bottom: 0px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-left: 10px;
        color: $social-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $active-color;
            color: $white-color;
        }

        &--footer {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            color: $white-color;
        }
    }

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;

        @media screen and (min-width: 1200px) {
            margin-left: 0px;
        }
    }

    &__item:first-child {
        margin-left: 0px;
    }

    &__icon {
        fill: currentColor;
    }
    
}
