.subscribe {

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
        
    }

    &__box {
        
        @media screen and (min-width: 1200px) {
            display: flex;
        }

    }

    &__input {
        padding-left: 16px;
        margin-bottom: 20px;
        width: 450px;
        height: 50px;
        border: none;
        outline: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;

        &:hover,
        &:focus {
            outline: 1px solid $white-color;
        }

        @media screen and (max-width:479px) {
            width: 290px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }
        
    }    
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: $white-color;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            text-align: start;
        }

    }
}