.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-light-color;

    

    // &__container{

    // }
    
    &__list {
        list-style: none;
        background: $white-color;

    }

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $heavy-color;

        margin-bottom: 30px;
    }

    &__img {
        display: inline-flex;
        margin-bottom: 30px;
        justify-content: center;
        width: 100%;
    }

    &__heading {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        text-align: center;
        letter-spacing: 0.03em;

        color: $heavy-color;
        margin-bottom: 10px;
    }

    &__info {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        text-align: center;
        letter-spacing: 0.03em;

        color: $main-color;
        margin-bottom: 16px;
    }

    &__list {
        background: #F5F4FA;
    }

    &__item {
        margin-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $white-color;
        padding-bottom: 24px;
    }

    &__item:last-child {
        margin-bottom: 0px;
    }
}

