.header__container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 480px;
    align-items: center;

    @media screen and (max-width:768px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (min-width:480px) {
        width: 480px;
        position: relative;
    }

    @media screen and (min-width:768px) {
        width: 768px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}