:root {
    --main-text-color: #757575;
    --heavy-text-color: #212121;
    --action-text-color: #2196F3;
    --logo-text-color: #000000;
    --white-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --community-bg-color: #F5F4FA;
    --background-color: #2F303A;
    --icon-color: #AFB1B8;
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: var(--main-text-color);
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.list {
    list-style: none;
}

.contanier {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}